.f-24{
    font-size: 24px;
}
.mtn-3{
    margin-bottom: -1px;
}
.logo{
    background-color: black;
    color: white;
    padding:20px 30px 20px 30px;
    cursor:pointer
}
.ver-mas{
    font-size: 16px;
    text-decoration: underline red;  
}