<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form action="">
                <div>
                    <label for="">Rango de Seguidores:</label>
                    <input type="text" placeholder="Minimo"> -
                    <input type="text" placeholder="Maximo">
                </div>
                <div>
                    <label for="">Categoria de Contenido:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Red Social:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Tipo de Contenido:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Rango de Precios:</label>
                    <input type="text" placeholder="Minimo"> -
                    <input type="text" placeholder="Maximo">
                </div>
                <div>
                    <label for="">Ciudad de Residencia:</label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Ciudad Princiapl de Seguidores: </label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Edad:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Edad Prinicipal de Seguidores:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Género:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Género Prinicipal de Seguidores:</label>
                    <input type="text">
                </div>
                <div class="centrar">
                <button>FILTRAR</button>
            </div>
            </form>
        </div>
    </div>
</div>
