<app-filtrar></app-filtrar>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 centrar">
            <h2 class="bold">PERFILAMIENTO</h2>
            <button>Busca un influenceador</button>
        </div>
        <div class="col-12">
            <table>
                <tr>
                    <th>NOMBRE</th>
                    <th>CIUDAD</th>
                    <th>SEGUIDORES</th>
                    <th>ALCANCE HISTORIA</th>
                    <th>ALCANCE POST</th>
                    <th>ALCANCE REEL</th>
                    <th>IMPRESIONES</th>
                    <th>COSTO HISTORIA</th>
                    <th>COSTO POST</th>
                    <th>COSTO REEL</th>
                    <th>COSTO ASISTENCIA</th>
                </tr>
                <tr>
                    <td>TRAER DE BD</td>
                    <td>TRAER DE BD</td>
                    <td>TRAER DE SOCIAL BLADE</td>
                    <td>SEGUIDORES 7%</td>
                    <td>SEGUIDORES 20%</td>
                    <td>SEGUIDORES 20%</td>
                    <td>ALCANCE TOTAL X 1.02%</td>
                    <td>TRAER DE BD</td>
                    <td>TRAER DE BD</td>
                    <td>TRAER DE BD</td>
                    <td>TRAER DE BD</td>

                </tr>
            </table>
        </div>
        <div class="col-12">
            <table>
                <tr>
                    <th>NOMBRE</th>
                    <th>CIUDAD</th>
                    <th>SEGUIDORES</th>
                    <th>HISTORIAS</th>
                    <th>POSTS</th>
                    <th>REELS</th>
                    <th>ASISTENCIAS</th>
                    <th>ALCANCE HISTORIA</th>
                    <th>ALCANCE POST</th>
                    <th>ALCANCE REEL</th>
                    <th>ALCANCE TOTAL</th>
                    <th>IMPRESIONES</th>
                    <th>COSTO HISTORIA</th>
                    <th>COSTO POST</th>
                    <th>COSTO REEL</th>
                    <th>COSTO ASISTENCIA</th>
                    <th>SUMA COSTOS</th>
                    <th>RETENCIONES</th>
                    <th>TOTAL COSTOS</th>
                </tr>
                <tr>
                    <td>TRAER DE BD</td>
                    <td>TRAER DE BD</td>
                    <td>TRAER DE SOCIAL BLADE</td>
                    <TD>EDITABLE #</TD>
                    <TD>EDITABLE #</TD>
                    <TD>EDITABLE #</TD>
                    <TD>EDITABLE #</TD>
                    <td>SEGUIDORES 7%</td>
                    <td>SEGUIDORES 20%</td>
                    <td>SEGUIDORES 20%</td>
                    <td>SUMATORIA TOTAL</td>
                    <td>ALCANCE TOTAL X 1.02%</td>
                    <td>TRAER DE BD</td>
                    <td>TRAER DE BD</td>
                    <td>TRAER DE BD</td>
                    <td>TRAER DE BD</td>
                    <td>SUMATORIA COSTOS</td>
                    <td>DESPLEGABLE</td>
                    <td>COSTOS + RETENCIONES</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="row centrar">
        <div class="col-12">
            <h4 class="bold">RESUMEN INFLUENCIADORES</h4>
        </div>
        <div class="col-4">
            <h6>Equipo</h6>
            <p>15 Nano Influencers</p>
            <p>15 Micro Influencers</p>
            <p>30 Influencers en total</p>

            <h6>Ciudad</h6>
            <p>15 Cali</p>
            <p>15 Medellín</p>
        </div>
        <div class="col-4">
            <h6>Contenido</h6>
            <p>Seguidores: 100.000</p>
            <p>Alcance: 200.000</p>
            <p>Impresiones: 220.000</p>
            <p>CPM: $2.500</p>
            <p>Acciones: 30</p>
        </div>
        <div class="col-4">
            <h6>Valor</h6>
            <p>$100.000 Costos</p>
            <p>$200.000 FEE</p>
            <p>$200.000 Utilidad Comercial</p>
        </div>
        <div class="col-12 derecha">
            <button>GUARDAR</button>
        </div>
    </div>
</div>