<div class="container-fluid">
    <div class="row">
        <div class="col-12 pt-4">
            <h2 class="bold">CREAR CAMPAÑA</h2>
        </div>
    </div>
    <form class="row">
        <div class="col-6">

            <div>
                <label for="">Empresa:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Marca:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Industria:</label>
                <input type="text">
            </div>
            <div>
                <label for="">KAM:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Nombre campaña:</label>
                <input type="text">
            </div>

            <div>
                <label for="">Responsable</label>
                <input type="text">
            </div>

            <div>
                <label for="">Red Social:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Presupuesto:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Alcance:</label>
                <input type="text">
            </div>

            <div>
                <label for="">Fecha Inicio:</label>
                <input type="text">
            </div>

            <div>
                <label for="">Fecha fin:</label>
                <input type="text">
            </div>

            <div>
                <label for="">Metodologia:</label>
                <input type="text">
            </div>

            <div>
                <label for="">Archivos adjuntos:</label>
                <input type="text">
            </div>

        </div>
        <div class="col-6">
            <div>
                <label for="">Perfil de influenciadores:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Genero:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Rango de edad:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Categoria:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Tipo de contenido:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Breve descripción de la campaña:</label>
                <input type="text">
            </div>
            <div>
                <label for="">¿Qué van a decir?</label>
                <input type="text">
            </div>

        </div>
    </form>
    <div class="row">
        <div class="col-12 mt-3 centrar">
            <button>CREAR</button>
        </div>
    </div>

</div>
