<div class="container-fluid">
    <div class="row">
        <div class="col-12 pt-4">
            <h2 class="bold">CREAR CAMPAÑA</h2>
        </div>
    </div>
    <form class="row regular" id="form">
        <div class="col-6">

            <div>
                <label for="">Empresa:</label>
                <select name="anio" class="regular">
                    <option>Selecciona una opción</option>
                    <option>Avión</option>
                    <option>Tren</option>
                </select>
            </div>
            <div>
                <label for="">Marca:</label>
                <select name="anio" class="regular">
                    <option>Selecciona una opción</option>
                    <option>Avión</option>
                    <option>Tren</option>
                </select>
            </div>
            <div>
                <label for="">Industria:</label>
                <select name="anio" class="regular">
                    <option>Selecciona una opción</option>
                    <option>Avión</option>
                    <option>Tren</option>
                </select>
            </div>
            <div>
                <label for="">KAM:</label>
                <select name="anio" class="regular">
                    <option>Selecciona una opción</option>
                    <option>Avión</option>
                    <option>Tren</option>
                </select>
            </div>
            <div>
                <label for="">Nombre campaña:</label>
                <input type="text" placeholder="Escribe aquí">
            </div>


            <div>
                <label for="">Red Social:</label>
                <select name="red" class="regular">
                    <option value="">Selecciona una opción</option>
          
                    <option value="Instagram">Instagram</option>
                    <option value="TikTok">TikTok</option>
                    <option value="Twitter">Twitter</option>
                    <option value="Facebook">Facebook</option>
                    <option value="Youtube">Youtube</option>
                </select>
            </div>
            <div>
                <label for="" >Presupuesto:</label>
                <input type="text" placeholder="Escribe aquí">
            </div>
            <div>
                <label for="">Alcance:</label>
                <select name="anio" class="regular">
                    <option>Selecciona una opción</option>
                    <option>Avión</option>
                    <option>Tren</option>
                </select>
            </div>

            <div>
                <label for="">Fecha Inicio:</label>
                <input type="date">
            </div>

            <div>
                <label for="">Fecha fin:</label>
                <input type="date">
            </div>

            <div>
                <label for="">Metodologia:</label>
                <br>
                <textarea name="" id=""  placeholder="Escribe aquí"></textarea>
            </div>

            <div>
                <label for="">Adjunta archivos importantes:</label>
                <button id="selectButton" class="boton-gris btn " (click)="fileInput.click()">Selecciona un archivo</button>
                <input type="file" #fileInput hidden   />
            </div>

        </div>
        <div class="col-6">
            <div>
                <label for="" >Perfil de influenciadores:</label>
                <br>
                <textarea name="" id="" placeholder="Escribe aquí" ></textarea>
            </div>
            <div>
                <label for="">Genero:</label>
                <select name="genero" class="regular">
                    <option>Selecciona una opción</option>
                    <option value="HOMBRE">Hombre</option>
                    <option value="MUJER">Mujer</option>
                    <option value="OTRO">Otro</option>
                </select>
            </div>
            <div>
                <label for="">Rango de edad:</label>
                <select  name="edad1" class="regular form-edad">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let edad of listaEdades" value="{{edad}}">{{edad}}</option>
                    
                </select>

                <select  name="edad2" class="regular form-edad">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let edad of listaEdades" value="{{edad}}">{{edad}}</option>
                    
                </select>
            </div>
            <div>
                <label for="">Categoria:</label>
                <br>
                <select name="anio" class="regular">
                    <option>Selecciona una opción</option>
                    <option>Avión</option>
                    <option>Tren</option>
                </select>
                <select name="anio" class="regular">
                    <option>Selecciona una opción</option>
                    <option>Avión</option>
                    <option>Tren</option>
                </select>
                <select name="anio" class="regular">
                    <option>Selecciona una opción</option>
                    <option>Avión</option>
                    <option>Tren</option>
                </select>
            </div>
            <div>
                <label class="menos-t" for="">Tipo de contenido:</label>
                <div >
             
                   <input type="checkbox" value="value1" > <span class="letra">Historia</span> 
                   <input type="checkbox" value="value2" > <span class="letra">Reels</span> 
                    <input type="checkbox" value="value3"> <span class="letra">IGTV</span> 
                <input type="checkbox" value="value1" > <span class="letra">Asistencia</span> 
                    <br>
                    <input type="checkbox" value="value2" > <span class="letra">Posts</span> 
                    <input type="checkbox" value="value3" > <span class="letra">Live</span> 
                    <input type="checkbox" value="value2" > <span class="letra">TikTok</span> 
                    <input type="checkbox" value="value3" > <span class="letra">Otro: </span>  <input class="otro" type="text" value="Otro" >
                </div>
            </div>
            <div>
                <label for="">Breve descripción de la campaña:</label>
                <textarea name=""  placeholder="Escribe aquí"></textarea>
            </div>
            <div>
                <label for="">¿Qué van a decir?</label>
                <textarea name=""  placeholder="Escribe aquí"></textarea>
            </div>

        </div>

            <div class="col-12 mt-5 centrar mb-5">
                <button class="boton-rojo">CREAR</button>
            </div>

    </form>
   

</div>
