.select {
    width: 32%;

    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    background-image: url("../../../assets/images/img/down.png");
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.select::-ms-expand {
    display: none;
    /*Evita que se muestre la flecha por defecto en versiones de IE*/
}


.nombre{
    font-size: 20px;
}

.boton-negro{
    background-color:black;
    color:white;
    border:0px;
    border-radius:10px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}
.boton-rojo{
    background-color: #CA2339;
    color: white;
    border:0px;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    
    font-size: 25px;
}
.pequena{
    padding-left: 20px;
    width: 90px;
}
p{
    font-size: 20px;
}
input[type="text"]{
    width: 100%;
    font-size: 22px;
}