<app-menu></app-menu>

<div class="container mt-5 dashbord min">
    <div class="row">
        <div class="col-4" id="menu">
            <ul>
                <li> <img src="../../../assets/images/img/pie-chart.png" alt="" routerLink="/home"><span  routerLink="/home">CREAR CAMPAÑA ⮛</span> <hr>
                    <ul>
                        <li (click)="cambiarEstado('crear')"> <span  [ngClass]="{'bold' : crear}">CREAR CAMPAÑA</span></li>
                        <li (click)="cambiarEstado('campanias')" ><span [ngClass]="{'bold' : campanias}"> CAMPAÑAS ACTIVAS</span></li>
                    </ul>
                
                </li>
                
            </ul>
        </div>
        <div class="col-8 min" id="contenido">
            <div *ngIf="crear">
                <app-crear-campanias></app-crear-campanias>
             </div>
 
             <div *ngIf="campanias">
                <app-campanias-activas></app-campanias-activas>
             </div>
        </div>
    </div>
</div>