<div class="container-fluid">
    <div class="row">
        <div class="col-12 pt-4">
            <h2 class="bold">CREAR CAMPAÑA</h2>
        </div>
        <div class="col-12">
            <form>
            <div>
                <label for="">Empresa:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Marca:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Nombre:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Industria:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Responsable</label>
                <input type="text">
            </div>
            <div>
                <label for="">Nombre campaña:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Red Social:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Presupuesto:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Categoria:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Alcance:</label>
                <input type="text">
            </div>
            <div>
                <label for="">Descripcion:</label>
                <input type="text">
            </div>
            </form>
        </div>
    </div>
</div>