<div class="container-fluid">
    <div class="row">
        <div class="col-12 centrar bold">
            <h2 class="pt-4">BASE DE DATOS</h2>
            <div class="fondo-negro">
                <h3>Busca un influenciador</h3>
            </div>
        </div>
        <div class="col-12 centrar-contenido">
            <table>
                <tr class="centrar bold ">
                    <th>NOMBRE</th>
                    <th>SEGUIDORES</th>
                    <th>EDAD</th>
                    <th>USUARIOS</th>
                    <th>CIUDAD</th>
                </tr>

                <tr class="centrar regular">
                    <td>Ejemplo</td>
                    <td>Ejemplo</td>
                    <td>Ejemplo</td>
                    <td>Ejemplo</td>
                    <td>Ejemplo</td>
                    
                </tr>
            </table>
        </div>
    </div>
</div>