img {
    width: 50px;

}
.flotar{
    float:left;
}
.nombre{
    font-size: 40px;
    margin-left: 15px;
}
.centrar{
    
    text-align: center;
    align-items: center;
    justify-content: center;
  
}
.mt-10{
    margin-top: 10%;
}
.flex{
    display:flex;
}
.nombre-c{
    font-size: 16px;
    margin-bottom: -15px;
}
.logo{
    text-transform: uppercase;
    background-color: black;
    color:white;
    font-size: 18px;
    line-height:18px;
    padding-top: 20px;
    
}
.centrar-f{
    display:flex !important;
    text-align: center !important;;
    align-items: center !important;;
    justify-content: center !important;;
}
.porcentaje{
    font-size: 45px;
}
.porcentaje-2{
    font-size: 20px;
}
.centrarTexto{
    text-align: center;
}
.requerimiento-p{
    font-size: 15px;line-height:3px;
}
.p-grande{
    padding-left: 15px;
  
}
.p-grande h1{
    font-size: 80px;
}
table{
    padding: 10px;
    border:1px solid black;
    width:100%;
}
th{
    border:1px solid black;
    background-color: black;
    color:white;
    font-family: inter-bold;
    padding: 5px;
    
}
td{
    border:1px solid black;
}
.logo-marca{

    margin-left: 20% !important;
    width:80px !important;
    height:80px !important;

}