.dashbord{
    border:6px solid black;
    border-radius:25px;
    overflow:hidden;
    background-color:black;
}



#menu ul{
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
  
} 
#menu ul li{
    list-style:none;
    color: white;
    font-family: 'inter-regular';
    font-size: 27px;
    padding-top: 50px;
    cursor: pointer;
}

#menu ul li img{

    width: 20px;
    filter: invert(100%);
    margin-right: 10px;
}
#contenido{
    background-color:white;
}
hr{
    color: red;
    height:4px;
    opacity: 1;
    margin-top: -3px;
    width:300px;
    margin-bottom: -6px;
}