<div class="container-fluid m-40">
    <div class="row centrar d-flex align-items-center">
        <div class="col-6">
            <h3 class="bold">DESCARGAR <br> MÉTRICAS</h3>
            <select name="anio" class="bold">
                <option>Selecciona un año</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
            <select name="mes" class="bold">
                <option>Selecciona un mes</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
            <select name="campania" class="bold">
                <option>Busca una campaña</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
            <br>
            <button class="mt-3 boton-rojo bold">DESCARGAR</button>
        </div>
        <div class="col-6">
            <h3 class="bold">DESCARGAR <br> PERFILAMIENTO</h3>
            <select name="anio" class="bold">
                <option>Selecciona un año</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
            <select name="mes" class="bold">
                <option>Selecciona un mes</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
            <select name="campania" class="bold">
                <option>Busca una campaña</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
            <br>
            <button class="mt-3 boton-rojo bold">DESCARGAR</button>
        </div>
    </div>
</div>
