#menu{
    display:flex;
    flex-direction:row;
    background-color:black;
    text-align: center;
    
}
#logo{
    flex-basis: 33%;
    padding:7px;
    align-items: center;
}

#logo img{
    
    width:115px;
  
}
#redes{
    flex-basis: 33%;
    padding:7px;
}
#redes ul {

    justify-content: center;
    display:flex;
    align-items: center;
    height:100%;
}

#redes ul li{
    flex-basis: 40px;
    list-style:none;
    padding-left: 6px;
}
#redes ul li img{
  width:100%;
  background-color: white;
  border-radius:999px;
  padding: 6px;
}
#login{
    flex-basis: 34%;
}

#login ul{
    text-align: center;
    justify-content: center;
    display:flex;
    padding:7px;
    align-items: center;
    height:100%;
}

#login ul li{

    list-style:none;
    color: white;
    font-family: 'inter-regular';
    padding-left: 7px;

}