<header id="menu">
	<div class="" id="logo">
		<img src="../../assets/images/img/LOGO FRAT MARKETING BLANCO.png" alt="">
	</div>

	<div id="redes">

		<ul>
			<li>
				<img src="../../assets/images/img/instagram-4.png" alt="">
			</li>
			<li>
				<img src="../../assets/images/img/youtube-4.png" alt="">
			</li>
			<li>
				<img src="../../assets/images/img/Spotify.png" alt="">
			</li>
		</ul>
	</div>

	<div id="login" style="cursor:pointer" *ngIf="logOut" (click)="logout()">
		<ul>
			<li>LOG OUT</li>
	
		</ul>
	</div>
</header>