<header class="barra">
	<div id="logo">
		<div>
		<img src="../../assets/images/img/FRAT NEGRO.png" alt="Logo">
	</div>
	</div>
	<div class="links">
		<ul>

			<li routerLinkActive="active " class="">
				<a routerLink='/home' class="">Home</a>
			</li>
			<li>|</li>
			<li routerLinkActive="active " class="">
				<a routerLink='/ciudades' class="">Eventos</a>
			</li>
			<li>|</li>
			<li routerLinkActive="active" class="">
				<a routerLink='/nosotros' class="">Entradas</a>
			</li>
			<li>|</li>
			<li routerLinkActive="active" class="">
				<a routerLink='/como-comprar' class="">Noticias</a>
			</li>
		
			<li>|</li>
			
			<li routerLinkActive="active" class=" ">
				<a routerLink='/como-comprar' class="">Sponsors</a>
			</li>
			<li>|</li>
			<li routerLinkActive="active" class=" ">
				<a  routerLink='/como-comprar'  class="">Club</a>
			</li>

			<li class="">
				<input type="text" placeholder="Buscar" class=" rounded-pill  " >
			</li>
			<li class=" mt-lg-0">
				<button class=" botonBarra btn rounded border-dark shadow-sm" type="submit" >BUSCAR</button>
			</li>
	</ul>	
	</div>
</header>

