<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="bold">CREAR UN INFLUENCER</h2>
        </div>
        <div class="col-12">
            <form action="" id="form" >
                <div>
                    <label for="">Nombre:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>
                <div>
                    <label for="">Ciudad de residencia:</label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
                <div>
                    <label for="">Dirección:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>
                <div>
                    <label for="">Email:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>
                <div>
                    <label for="">Contraseña:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>
                <div>
                    <label for="">Celular:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>
                <div>
                   
                    <div id="redes">
                        <label for="">Redes:</label>
                        <img src="../../../../assets/images/img/instagram-4.png" alt="">
                        <input type="text" placeholder="Usuario">
                        <img src="../../../../assets/images/img/tik-tok.png" alt="">
                        <input type="text" placeholder="Usuario">
                        <img src="../../../../assets/images/img/twitter-2.png" alt="">
                        <input type="text" placeholder="Usuario">
                        <img src="../../../../assets/images/img/facebook-2.png" alt="">
                        <input type="text" placeholder="Usuario">
                        <img src="../../../../assets/images/img/youtube-4.png" alt="">
                        <input type="text" placeholder="Usuario">
                    </div>
                    
                </div>
    
                <div>
                    <label for="">Tipo de contenido: </label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
    
                <div>
                    <label for="">Fecha de nacimiento:</label>
                    <input type="date">
                </div>
                <div>
                    <label for="">Genero:</label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
                <div>
                    <label for="">Likes:</label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
    
                <div>
                    <label for="">Dislikes:</label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
    
                <div>
                    <label for="">Hijos:</label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
    
                <div>
                    <label for="">Mascotas:</label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
    
                <div>
                    <label for="">Ocupación:</label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
                <div class="derecha">
                <button class="boton-rojo">AGREGAR</button>
                </div>
            </form>
        </div>
    </div>
</div>