<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="bold">CREAR UN INFLUENCER</h2>
        </div>
        <div class="col-12">
            <form action="">
                <div>
                    <label for="">Nombre:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Ciudad de residencia:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Dirección:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Email:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Contraseña:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Celular:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Redes:</label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Tipo de contenido: </label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Fecha de nacimiento:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Genero:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Likes:</label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Dislikes:</label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Hijos:</label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Mascotas:</label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Ocupación:</label>
                    <input type="text">
                </div>
                <button>AGREGAR</button>
            </form>
        </div>
    </div>
</div>