<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="bold">CREAR UN INFLUENCER</h2>
        </div>
        <div class="col-12">
            <form action="" id="form" >
                <div>
                    <label for="">Nombre:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>
                <div>
                    <label for="">Ciudad de residencia:</label>
                    <select name="anio" class="regular">
                        <option value="0">Selecciona una opción</option>
                        <option *ngFor="let ciudad of ciudades" [(ngModel)]="ciudadid" value="{{ciudad.id}}">{{ciudad.nombre}}</option>
                    </select>
                </div>
                <div>
                    <label for="">Dirección:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>
                <div>
                    <label for="">Email:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>
                <div>
                    <label for="">Contraseña:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>
                <div>
                    <label for="">Celular:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>
                <div>
                   
                    <div id="redes">
                        <label for="">Redes:</label>
                        <img src="../../../../assets/images/img/instagram-4.png" alt="">
                        <input type="text" placeholder="Usuario">
                        <img src="../../../../assets/images/img/tik-tok.png" alt="">
                        <input type="text" placeholder="Usuario">
                        <img src="../../../../assets/images/img/twitter-2.png" alt="">
                        <input type="text" placeholder="Usuario">
                        <img src="../../../../assets/images/img/facebook-2.png" alt="">
                        <input type="text" placeholder="Usuario">
                        <img src="../../../../assets/images/img/youtube-4.png" alt="">
                        <input type="text" placeholder="Usuario">
                    </div>
                    
                </div>
    
                <div>
                    <label for="">Tipo de contenido: </label>
                    <select name="anio" class="regular">
                        <option value="0">Selecciona una opción</option>
                        <option *ngFor="let tipo of tipoContenidos" [(ngModel)]="ciudadid" value="{{tipo.id}}">{{tipo.nombre}}</option>
                    </select>
                    <button>Agregar</button>
                </div>
                <div>
                    <label for="">Gustos: </label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
                <div>
                    <label for="">Fecha de nacimiento:</label>
                    <input type="date">
                </div>
                <div>
                    <label for="">Genero:</label>
                    <select name="genero" class="regular">
                        <option>Selecciona una opción</option>
                        <option value="HOMBRE">Hombre</option>
                        <option value="MUJER">Mujer</option>
                        <option value="OTRO">Otro</option>
                    </select>
                </div>
                <div>
                    <label for="">Likes:</label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
    
                <div>
                    <label for="">Dislikes:</label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
    
                <div>
                    <label for="">Hijos:</label>
                    <select name="anio" class="regular">
                        <option value="">Selecciona una opción</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </div>
    
                <div>
                    <label for="">Mascotas:</label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
    
                <div>
                    <label for="">Ocupación:</label>
                    <select name="anio" class="regular">
                        <option>Selecciona una opción</option>
                        <option>Avión</option>
                        <option>Tren</option>
                    </select>
                </div>
                <div class="derecha">
                <button class="boton-rojo">AGREGAR</button>
                </div>
            </form>
        </div>
    </div>
</div>