.dashbord{
    border:6px solid black;
    border-radius:25px;
    overflow:hidden;
    background-color:black;
}



#menu ul{
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
  
} 
#menu ul li{
    list-style:none;
    color: white;
    font-family: 'inter-regular';
    font-size: 30px;
    padding-top: 60px;
}

#menu ul li img{

    width: 20px;
    filter: invert(100%);
}
#contenido{
    background-color:white;
}