<div class="container mt-5 dashbord">
    <div class="row">
        <div class="col-4" id="menu">
            <ul>
                <li> <img src="../../assets/images/img/growth.png" alt=""> SEGUIMIENTO</li>
                <li> <img src="../../assets/images/img/pie-chart.png" alt=""> CREAR CAMPAÑA</li>
                <li> <img src="../../assets/images/img/research.png" alt=""> BASE DE DATOS</li>
                <li> <img src="../../assets/images/img/target.png" alt=""> PROSPECCIÓN</li>
                <li> <img src="../../assets/images/img/available.png" alt=""> REQUERIMIENTOS</li>
                <li> <img src="../../assets/images/img/report.png" alt=""> INFORMES</li>
                <li> <img src="../../assets/images/img/configuration.png" alt=""> CONFIGURACIÓN</li>
            </ul>
        </div>
        <div class="col-8" id="contenido">

        </div>
    </div>
</div>