<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="bold">CREAR UN CLIENTE</h2>
        </div>
        <div class="col-12">
            <form action="">
                <div>
                    <label for="">Compañia:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Marca:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Razón Social:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">NIT:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Sector:</label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Facturación anual: </label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Nombre contacto:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Cargo:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Telefono:</label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Email:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Contraseña:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Agregar otro contacto +:</label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Descripción:</label>
                    <input type="text">
                </div>

                <button>AGREGAR</button>
            </form>
        </div>
    </div>
</div>