<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="bold">CREAR UN CLIENTE / EMPRESA</h2>
        </div>
        <div class="col-10">
            <form (ngSubmit)="!todoForm.invalid && saveEmpresa()" id="form" #todoForm="ngForm">
                <div>
                    <label for="">Nombre:</label>
                    <input type="text" placeholder="Escribe aquí" name="nombre" [(ngModel)]="empresa.nombre">
                </div>
                <div>
                    <label for="">Email:</label>
                    <input type="text" placeholder="Escribe aquí" name="correo" [(ngModel)]="empresa.correo">
                </div>
                <div>
                    <label for="">Contraseña:</label>
                    <input type="text" placeholder="Escribe aquí" name="password" [(ngModel)]="empresa.password">
                </div>

                <div>
                    <label for="">Descripción:</label>
                    <br>
                    <textarea type="text" placeholder="Escribe aquí" name="descripcion" [(ngModel)]="empresa.descripcion"></textarea>
                    
                </div>

                <div class="centrar mt-5 mb-5">
                    <button class="boton-rojo" type="submit">AGREGAR</button>
                    </div>
            </form>
        </div>
        <div class="col-2">
            <div>
                
                <button id="selectButton" class="boton-negro btn " (click)="fileInput.click()">Sube el logo</button>
                <input type="file" #fileInput hidden   />
            </div>
        </div>
    </div>
</div>