<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="bold">CREAR UN CLIENTE / EMPRESA</h2>
        </div>
        <div class="col-10">
            <form action="" id="form">
                <div>
                    <label for="">Nombre:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>
               
    
                <div>
                    <label for="">Email:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>
                <div>
                    <label for="">Contraseña:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>

                <div>
                    <label for="">Descripción:</label>
                    <input type="text" placeholder="Escribe aquí">
                </div>

                <div class="centrar mt-5 mb-5">
                    <button class="boton-rojo">AGREGAR</button>
                    </div>
            </form>
        </div>
        <div class="col-2">
            <div>
                
                <button id="selectButton" class="boton-negro btn " (click)="fileInput.click()">Sube el logo</button>
                <input type="file" #fileInput hidden   />
            </div>
        </div>
    </div>
</div>