<section class="container-fluid mt-4">
    <div class="row centrar">
        <div class="col-12 centrar">
            <h1 class="bold">TAREAS</h1>
        </div>
        <div class="col-4">
            <div class="p-3 container-fluid bordeNegro">
                <div class="row">
                    <div class="col-12">
                        <h4 class="bold">
                            TAREAS DEL DÍA CUMPLIDAS
                        </h4>
                    </div>
                    <div class="col-6">
                        <h3 class="bold">
                            1/4
                        </h3>
                        <h5 class="bold">
                            ACCIONES
                        </h5>
                    </div>
                    <div class="col-6">
                        <h3 class="bold">
                            25%
                        </h3>
                        <h5 class="bold">
                            PORCENTAJE
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="p-3 container-fluid bordeNegro">
                <div class="row">
                    <div class="col-12">
                        <h4 class="bold">
                            TAREAS DEL MES CUMPLIDAS
                        </h4>
                    </div>
                    <div class="col-6">
                        <h3 class="bold">
                            2/9
                        </h3>
                        <h5 class="bold">
                            ACCIONES
                        </h5>
                    </div>
                    <div class="col-6">
                        <h3 class="bold">
                            22.2%
                        </h3>
                        <h5 class="bold">
                            PORCENTAJE
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="p-3 container-fluid bordeNegro">
                <div class="row">
                    <div class="col-12">
                        <h4 class="bold">
                            TAREAS VENCIDAS
                        </h4>
                    </div>
                    <div class="col-12">
                        <h3 class="bold">
                         1
                        </h3>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <div class="row text-center">
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn boton-rojo"
                      mwlCalendarPreviousView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                    >
                      Previous
                    </div>
                    <div
                      class="btn boton-rojo"
                      mwlCalendarToday
                      [(viewDate)]="viewDate"
                    >
                      Today
                    </div>
                    <div
                      class="btn boton-rojo"
                      mwlCalendarNextView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                    >
                      Next
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                </div>
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn boton-rojo"
                      (click)="setView(CalendarView.Month)"
                      [class.active]="view === CalendarView.Month"
                    >
                      Month
                    </div>
                    <div
                      class="btn boton-rojo"
                      (click)="setView(CalendarView.Week)"
                      [class.active]="view === CalendarView.Week"
                    >
                      Week
                    </div>
                    <div
                      class="btn boton-rojo"
                      (click)="setView(CalendarView.Day)"
                      [class.active]="view === CalendarView.Day"
                    >
                      Day
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div [ngSwitch]="view">
                <mwl-calendar-month-view
                  *ngSwitchCase="CalendarView.Month"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"


                >
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                  *ngSwitchCase="CalendarView.Week"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
      
               
                >
                </mwl-calendar-week-view>
                <mwl-calendar-day-view
                  *ngSwitchCase="CalendarView.Day"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
    
               
                >
                </mwl-calendar-day-view>
              </div>
              
        </div>
    </div>
</section>





