<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <h2 class="bold">REQUERIMIENTOS</h2>
            <select name="anio" class="regular">
                <option>Selecciona una campaña</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
      
        </div>
        <div class="col-12 mt-4">
          <div>
            <img src="../../../assets/images/img/user-2.png" alt="" class="img flotar"> <p class="regular nombre">Nombre influencer</p>
        </div>
                <table class="tabla-1 centrar mb-3">
                    <tr>
                        <th>HISTORIAS</th>
                        <th>REELS/TIKTOKS</th>
                        <th>POSTS</th>
                        <th>IGTVS</th>
                        <th>LIVES</th>
                        <th>VISITAS</th>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                    </tr>
                </table>
        </div>
        <div class="col-12 derecha mb-4">
            <button class="boton-negro bold">Aplicar para todos</button>
        </div>
        <div class="col-12">
            <table class="mb-3 tabla-2 centrar">
                <tr>
                    <th>ACCIÓN</th>
                    <th>FECHA DE PUBLICACIÓN</th>
                    <th>HORA DE PUBLICACIÓN</th>
                    <th>DO´S</th>
                    <th>DONT´S</th>
                    <th>PITCH</th>
                </tr>
                <tr>
                    <td>Hstoria</td>
                    <td>20/03/2022</td>
                    <td>3:00 PM</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                </tr>
                <tr>
                    <td>Hstoria</td>
                    <td>20/03/2022</td>
                    <td>3:00 PM</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                </tr>
                <tr>
                    <td>Hstoria</td>
                    <td>20/03/2022</td>
                    <td>3:00 PM</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                </tr>
                <tr>
                    <td>Hstoria</td>
                    <td>20/03/2022</td>
                    <td>3:00 PM</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                </tr>
                <tr>
                    <td>Hstoria</td>
                    <td>20/03/2022</td>
                    <td>3:00 PM</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                </tr>
                <tr>
                    <td>Hstoria</td>
                    <td>20/03/2022</td>
                    <td>3:00 PM</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                </tr>
                <tr>
                    <td>Hstoria</td>
                    <td>20/03/2022</td>
                    <td>3:00 PM</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                </tr>
                <tr>
                    <td>Hstoria</td>
                    <td>20/03/2022</td>
                    <td>3:00 PM</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>Lorem ipsum dolor sit</td>
                </tr>
                
            </table>
        </div>
        <div class="col-12 derecha">
            <button class="boton-negro bold mb-3">Aplicar para todos</button>
            <br>
            <button class="boton-rojo bold">CREAR</button>
        </div>

    </div>
</div>
