<div class="container-fluid fondo-negro p-5">
    <div class="row">
        <div class="col-12" *ngIf="!booleanNombre">
            <form class="row regular" (ngSubmit)="!todoForm.invalid && filtrar()" id="form" #todoForm="ngForm">
                <div class="col-12">
                    <label for="">Rango de Seguidores:</label>
                    <br>
                    <input type="number" placeholder="Minimo" name="minimoS" [(ngModel)]="minimoS"> <span class="ml-5"> - </span>
                    <input type="number" placeholder="Maximo"  name="maximoS" [(ngModel)]="maximoS">
                </div>
                <div class="col-12">
                    <label for="">Categoria de Contenido:</label>
                    <br>
                    <select name="categoria" [(ngModel)]="contenidoNombre"  class="regular">
                        <option value="">Selecciona una opción</option>
                        <option *ngFor="let contenido of tipoContenidos" value="{{contenido.nombre}}">{{contenido.nombre}}</option>
                    </select>
                </div>

               

                <div class="col-12">
                    <label for="" class="mt-4">Gustos:</label>
                    <br>
                    <select  name="gusto" class="regular" [(ngModel)]="actualGusto" required="required">
                        <option value="">Seleccione una opción</option>
                        <option *ngFor="let gusto of gustos" value="{{gusto.nombre}}">{{gusto.nombre}}</option>
                        
                    </select>
                </div>

                <div>
                    <label for="">Rango de Precios:</label>
                    <br>
                    <input type="number" placeholder="Minimo" name="minimoP"  [(ngModel)]="minimoP"> -
                    <input type="number" placeholder="Maximo" name="maximoP"  [(ngModel)]="maximoP">
                </div>
                <div class="col-4  mb-5">
                <div>
                    <label for="">Ciudad de Residencia:</label>
                        <br>
                    <select name="ciudad" [(ngModel)]="ciudadInfluencer"  class="regular">
                        <option value="">Selecciona una opción</option>
                        <option *ngFor="let ciudad of ciudades" value="{{ciudad.nombre}}">{{ciudad.nombre}}</option>
                    </select>
    
                    <label for="" class="mt-4">Ciudad Princiapl de Seguidores: </label>
                    <br>
                    <select name="ciudad" [(ngModel)]="ciudadseguidores"  class="regular">
                        <option value="">Selecciona una opción</option>
                        <option *ngFor="let ciudad of ciudades" value="{{ciudad.nombre}}">{{ciudad.nombre}}</option>
                    </select>
                </div>
    
            </div>
            <div class="col-4 mb-5">
                <div>
                    <label for="">Rango edad influenceador:</label>
                    <br>
                    <select  name="edad1" class="regular form-edad" [(ngModel)]="limiteInferiorInfluencer" required="required">
                        <option value="0">Inferior</option>
                        <option *ngFor="let edad of listaEdades" value="{{edad}}">{{edad}}</option>
                        
                    </select>
                    -
                    <select  name="edad2" class="regular form-edad" [(ngModel)]="limiteSuperiorInfluencer" required="required">
                        <option value="0">Superior</option>
                        <option *ngFor="let edad of listaEdades" value="{{edad}}">{{edad}}</option>
                        
                    </select>

                    <label for="" class="mt-4">Rango Edad Prinicipal de Seguidores:</label>
                    <br>
                    <select  name="edad1" class="regular form-edad" [(ngModel)]="idRango" required="required">
                        <option value="0">Rango</option>
                        <option *ngFor="let rango of rangos" value="{{rango.id}}">{{rango.nombre}}</option>
                        
                    </select>
                    -
                    <select  name="edad2" class="regular form-edad" [(ngModel)]="porcentajeMinimo" required="required">
                        <option value="0">Porcentaje Minimo</option>
                        <option *ngFor="let edad of listaEdades" value="{{edad}}">{{edad}}%</option>
                    </select>
                </div>
            </div>
            <div class="col-4  mb-5" >
                <div>
                    <label for="" >Género:</label>
                    <br>
                    <select name="ciudad" [(ngModel)]="generoInfluencer"  class="regular">
                        
                        <option value="">Selecciona una opción</option>
                        <option value="HOMBRE">Hombre</option>
                        <option value="MUJER">Mujer</option>
                   
                    </select>
          
                    <label for="" class="mt-4">Género Prinicipal de Seguidores:</label>
                    <br>
          
                    <select name="generoIg" class="regular form-edad" [(ngModel)]="generoSeguidores">
                        <option value="0">Selecciona una opción</option>
                        <option  *ngFor="let genero of generos"  value="{{genero.id}}">{{genero.nombre}}</option>                    
                    </select>
                    -
                    <select  name="porcentajeGenero" class="regular form-edad" [(ngModel)]="porcentajeGenero" required="required">
                        <option value="0">Porcentaje Minimo</option>
                        <option *ngFor="let edad of listaEdades" value="{{edad}}">{{edad}}%</option>
                    </select>
                </div>
            </div>
                <div class="centrar">
              
               
                <button class="boton-blanco ml-3" (click)="filtrar()">FILTRAR</button>
                <br>
                <button class="boton-blanco" (click)="cambiarFiltro()">BUSCAR POR NOMBRE</button>
            </div>
            </form>
        </div>
        <div class="col-12" *ngIf="booleanNombre">
            <label for="">Nombre:</label>
            <br>
            <input type="text" placeholder="nombre" name="nombre"  [(ngModel)]="nombre"> 
           
            <br>
            <button class="boton-blanco ml-3" (click)="filtrar()">FILTRAR</button>
            <br>
            <button class="boton-blanco" (click)="cambiarFiltro()">BUSCAR POR CARACTERISTICAS</button>
        </div>
    </div>
</div>
