<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="bold">CREAR UN RESPONSABLE</h2>
        </div>
        <div class="col-12">
            <form (ngSubmit)="!todoForm.invalid && saveAdministrador()" id="form" #todoForm="ngForm">
                <div>
                    <label for="">Nombre:</label>
                    <input type="text" placeholder="Escribe aquí" name="nombre" [(ngModel)]="administrador.nombre">
                </div>
                <div>
                    <label for="">Email:</label>
                    <input type="text" placeholder="Escribe aquí" name="correo" [(ngModel)]="administrador.correo">
                </div>
                <div>
                    <label for="">Contraseña:</label>
                    <input type="text" placeholder="Escribe aquí" name="password" [(ngModel)]="administrador.password">
                </div>
               

                <div class="derecha">
                    <button class="boton-rojo" type="submit">AGREGAR</button>
                    </div>
            </form>
        </div>
    </div>
</div>