<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="bold">CREAR UN RESPONSABLE</h2>
        </div>
        <div class="col-12">
            <form action="">
                <div>
                    <label for="">Nombre:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Email:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Contraseña:</label>
                    <input type="text">
                </div>
               

                <button>AGREGAR</button>
            </form>
        </div>
    </div>
</div>