<div class="container-fluid m-40">
    <div class="row centrar">
        <div class="col-12">
            <h2 class="bold f-40">INFORMES</h2>
        </div>
        <div class="col-6">
            
            <h3 class="bold mb-n f-35">CARGA UN INFORMES</h3>
            <select name="anio" class="bold">
                <option>Selecciona una empresa</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
            <select name="mes" class="bold">
                <option>Selecciona una marca</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
            <select name="campania" class="bold">
                <option>Busca una campaña</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
            <br>
            <button class="mt-3 boton-azul bold largo">CARGAR ARCHIVO</button>
            <div>
                <button class="mt-3 boton-rojo largo bold">DESCARGAR</button>
            </div>
        </div>
        <div class="col-6">
            <h3 class="bold mb-n f-35">DESCARGA UN INFORME</h3>
            <select name="anio" class="bold">
                <option>Selecciona una empresa</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
            <select name="mes" class="bold">
                <option>Selecciona una marca</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
            <select name="campania" class="bold">
                <option>Busca una campaña</option>
                <option>Avión</option>
                <option>Tren</option>
            </select>
            <br>
            <div class="derecha">
                <button class="mt-3 boton-rojo bold">DESCARGAR</button>
            </div>
        </div>

    </div>
</div>