
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: inter-regular;
    src: url("assets/fonts/Inter-Regular.ttf");
  }
  
  @font-face{
      font-family: inter-bold;
      src: url("assets/fonts/Inter-Bold.ttf");
  }

  .centrar{
    text-align: center;
  }
  .derecha{
    text-align: right;
  }
  .izquierda{
    text-align: left;
  }
  .bold{
      font-family: inter-bold;
      transition: 300ms all;
  }

  .regular{
    font-family: inter-regular;
}

.min{
  min-height:82vh;
}

