<div class="container-fluid mt-4">

    <div class="row">
        <div class="col-12">
            <h4 class="bold">CREAR INDUSTRIA</h4> <!-- REVISA-->
            <form (ngSubmit)="!todoForm3.invalid && saveSector()"   #todoForm3="ngForm" id="form">
                <div>
                    <label for="">Nombre:</label>
                    <input type="text" name="nombre3" required="required"[(ngModel)]="sector.nombre" placeholder="Escribe aquí">
                </div>
                <div>
                    <button class="boton-rojo"  type="submit">Guardar</button>
                </div>
            </form>
            <hr>
        </div>
    </div>
</div>