
.division-1,
.division-2
{
	min-height:100vh;
    text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
    
    display:grid;
    align-items: center;
    align-content: center;
}


.division-1{
    background-image: url(../../assets/images/img/NOTICIA1.jpg);
}
.division-2{
    background-image: url(../../assets/images/img/NOTICIA2.jpg);
}

.division-1 div,
.division-2 div
{
	text-decoration: none;
    color:white;
    
    font-family: inter-bold;
    
    font-size:25px;
    padding:10px;
    
    
}
.division-1 div p,
.division-2 div p{
    cursor: pointer;
    z-index: 1;
}
.division-1 div a,
.division-2 div a{
    cursor: pointer;
    z-index: 100;
}

.boton-leer {
text-decoration: none;
color: white;
  }
