<div class="container-fluid">
    <div class="row">
        <div class="col-6 division-1">
            <div>
               <p> FRAT EVENTS</p>
                <a class="boton-leer rounded-pill"  href="https://frat.allticketscol.com">ENTER</a>
            </div>

        </div>
        <div class="col-6 division-2">
            <div  >
               <p> FRAT MARKETING</p>
                <a class="boton-leer rounded-pill" routerLink="/marketing">ENTER</a>

            </div>
        </div>
    </div>
</div>