<app-menu></app-menu>
<div class="container-fluid dashbord">
    <div class="row">
        <div class="col-3" id="menu">
            <ul>
                <li (click)="cambiarEstado('dashbord')"><img src="../../assets/images/img/growth.png" alt=""><span [ngClass]="{'bold' : dashbord}">DASHBROD</span> <hr *ngIf="dashbord"></li>
                <li (click)="cambiarEstado('campanias')"><img src="../../assets/images/img/available.png" alt=""><span [ngClass]="{'bold' : campanias}">VER CAMPAÑAS</span> <hr *ngIf="campanias"></li>
                
              
            </ul>
        </div>
        <div class="col-9" id="contenido">
            <div *ngIf="dashbord">
                <app-dashbord-empresa></app-dashbord-empresa>
            </div>
            <div *ngIf="campanias">
                <app-campanias-empresa></app-campanias-empresa>
             </div>
            
            
        </div>
    </div>
</div>