<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6 centrar">
            <h2 class="bold f-120">50%</h2>
        </div>
        <div class="col-6">
            <h3 class="bold f-30 mt-60">
                CUMPLIMIENTO TOTAL <br>
                CAMPAÑAS ACTIVAS
            </h3>
        </div>
    </div>
    <div class="row mt-3">

        <div class="col-6" *ngFor="let campania of campanias">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h4 class="bold">CUMPLIMIENTO CAMPAÑA</h4>
                    </div>
                    <div class="col-6 mr-n">
                        <h4 class="regular logo">LOGO MARCA</h4> 
                        <p class="font-r bold mt-6">Alcance est: 200.000</p>
                        <p class="font-r bold">Alcance real: 100.000</p>
                        <p class="font-r bold">Porcentaje: 50%</p>
                    </div>
                    <div class="col-6">
                        <p class="bold f-40">50%</p> 
                        <p class="font-r bold">CPM est: $10.000</p>
                        <p class="font-r bold">CPM real: $5.000</p>
                        <p class="font-r bold">Porcentaje: 50%</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-3">
        <table class="col-12 centrar">
            <tr class="border-b ">
                <th class="border-r">INFLUENCIADOR CON <br> MENOR CUMPLIMIENTO</th>
                <th>INFLUENCIADOR CON <br> MAYOR CUMPLIMIENTO</th>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
        </table>
    </div>
</div>
