<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6 centrar">
            <h2 class="bold f-120">{{(tareasTerminadas/(tareasTerminadas+tareasNoTerminadas))*100 | number: '1.0-0'}} %</h2>
        </div>
        <div class="col-6">
            <h3 class="bold f-30 mt-60">
                CUMPLIMIENTO TOTAL <br>
                CAMPAÑAS ACTIVAS
            </h3>
        </div>
    </div>
    <carousel class="row mt-3" [cellsToShow]="2">

        <div class="carousel-cell col-6" *ngFor="let campania of campanias;let i = index">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h4 class="bold">CUMPLIMIENTO {{campania.nombre}}</h4>
                    </div>
                    <div class="col-6 mr-n">
                        <div class="centrar centrar-f">
                        <h4 class="regular logo " *ngIf="imagenes[i]==null">NO LOGO MARCA</h4> 
                        <img src="{{imagenes[i]}}" class="logo-marca" *ngIf="imagenes[i]!=null" alt="">
                    </div>
                        <p class="font-r bold mt-6">Alcance est: {{campania.alcanceEstimado | number : '1.0-0'}}</p>
                        <p class="font-r bold">Alcance real: {{alcances[i] | number : '1.0-0'}}</p>
                        <p class="font-r bold">Porcentaje: {{(alcances[i]/campania.alcanceEstimado)*100 | number : '1.0-0'}}%</p>
                    </div>
                    <div class="col-6">
                        <p class="bold f-40">{{((tareasTerminadasCampania[i])/(tareasTerminadasCampania[i]+tareasNoTerminadasCampania[i]))*100 | number: '1.0-0'}}%</p> 
                        <p class="font-r bold">CPM est: ${{ ((campania.alcanceEstimado *1.02)/(campania.presupuesto))*1000 | number: '1.0-0'}}</p>
                        <p class="font-r bold">CPM real: ${{ ((impresiones[i])/(campania.presupuesto))*1000| number : '1.0-0'}}</p>
                        <p class="font-r bold">Porcentaje: {{((((impresiones[i])/(campania.presupuesto))*1000) / (((campania.alcanceEstimado *1.02)/(campania.presupuesto))*1000)) *100 | number : '1.0-0'}} %</p>
                    </div>
                </div>
            </div>
        </div>  

    </carousel>
    <div class="row mt-3">
        <table class="col-12 centrar">
            <tr class="border-b ">
                <th class="border-r">INFLUENCIADOR CON <br> MENOR CUMPLIMIENTO</th>
                <th>INFLUENCIADOR CON <br> MAYOR CUMPLIMIENTO</th>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
            <tr class="izquierda">
                <td class="border-r regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 10%</td>
                <td class="regular p-2"><img src="../../../assets/images/img/user-2.png" alt=""> Nombre Influenciador 100%</td>
            </tr>
        </table>
    </div>
</div>
