

<carousel class="container-fluid mt-3" [cellsToShow]="1" [height]="830" >
    <div class="row carousel-cell" *ngFor="let campania of campanias;let i = index">
        <div class="col-12 ">
            <div class=" centrarTexto centrar">
               <p class="regular nombre">{{campania.nombre}}</p>
              
            </div>
            <div class="logo" *ngIf="imagenes[i]==null">LOGO MARCA</div>
            <div class="centrarTexto" *ngIf="imagenes[i]!=null">
              <img src="{{imagenes[i]}}"   class="logo-marca"  alt="">
            </div>
            <div class="centrarTexto descripcion">
                <p>
                    {{campania.descripcion}}
                </p>
                
            </div>
        </div>
        


        <div class="col-12 centrarTexto">
        
                <h2 class="bold">FEE: $  {{campania.presupuesto | number: '1.0-0'}}</h2>
                <h2 class="bold">FECHA INICIO:  {{campania.fechaInicio}}</h2>
             
              
        </div>


        <div class="col-4">
            <table>
                <tr class="centrarTexto" >
                    <th colspan="2">MÉTRICASEST</th>
                </tr>
              <tr>
                <td>Alcance</td>
                <td>{{campania.alcanceEstimado| number : '1.0-0'}}</td>
              </tr>
              <tr>
                <td>Impresiones</td>
                <td>{{campania.alcanceEstimado * 1.02| number : '1.0-0'}}</td>
              </tr>
             
              <tr>
                <td>CPM</td>
                <td> ${{((campania.alcanceEstimado *1.02)/(campania.presupuesto))*1000 | number: '1.0-0'}}</td>
              </tr>
            </table>
        </div>
        <div class="col-4">
            <table>
                <tr>
                    <th colspan="2">ACCIONES</th>
                </tr>
              <tr *ngFor="let tipo of tiposCampania[i]; let j =index">
                <td>{{tipo.nombre}}</td>
                <td>{{cantidadTerminadas[i][j] + cantidadSinTerminar[i][j]}}</td>
              </tr>
              
            </table>
        </div>
        <div class="col-4">
            <table>
                <tr>
                    <th colspan="2">EQUIPO</th>
                </tr>
              <tr *ngFor="let cantidad of cantidadesInfluencers[i];let j = index">
                <td>{{categoriasInfluencers[i][j]}}</td>
                <td>{{cantidad}}</td>
              </tr>
             
            </table>
        </div>
        <div class="col-4 mt-4">
            <table>
                <tr class="centrarTexto" >
                    <th colspan="2">MÉTRICAS EN VIVO</th>
                </tr>
              <tr>
                <td>Alcance</td>
                <td>{{alcances[i] | number : '1.0-0'}}</td>
              </tr>
              <tr>
                <td>Impresiones</td>
                <td>{{impresiones[i] | number : '1.0-0'}}</td>
              </tr>
             
              <tr>
                <td>CPM</td>
                <td> ${{ ((impresiones[i])/(campania.presupuesto))*1000| number : '1.0-0'}}</td>
              </tr>
            </table>
        </div>
        <div class="col-4 mt-4">
            <table>
                <tr>
                    <th colspan="2">ACCIONES REALIZADAS</th>
                </tr>
                <tr *ngFor="let tipo of tiposCampania[i]; let j =index">
                  <td>{{tipo.nombre}}</td>
                  <td>{{cantidadTerminadas[i][j]}}</td>
                </tr>
            </table>
        </div>
        <div class="col-4 mt-4 centrarTexto bold">
            <h1 class="p-mediando">CUMPLIMIENTO HASTA EL MOMENTO</h1>
           <h1 class="p-grande bold">
            {{((numerosTareasterminadas[i])/(numerosTareasNoterminadas[i]+numerosTareasterminadas[i]))*100 | number: '1.0-0'}}%
           </h1>
        </div>
      </div>
</carousel>

<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12 derecha">
      <img src="{{empresa?.logo.url}}" *ngIf="empresa.logo.url &&empresa" class="logo-empresa" alt="">
    </div>
  </div>
</div>